# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Build
dist/
.wrangler/
worker/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars
.dev.vars.local

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 